.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.find-icons__icon i {
  font-size: 35px;
}

.find-icons__icon span {
  margin-top: 15px;
  text-align: center;
  font-weight: 300;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
}

.recommended-friends__title {
  font: size 12px;
  color: rgba(255, 255, 255, 0.65);
}

.recommended-friends span {
  margin: 110px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 500;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.7;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.65;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 10px;
  margin: 0px 5px;
  background-color: rgba(255, 255, 255, 0.645);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

.open-post__heart-count span {
  margin-left: 12px;
}
