#friends-display-link {
  text-align: center;
  display: block;
  background-color: #585858;
  padding: 15px 0px;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -15px;
}

#friends-display-link .fa-solid {
  color: rgba(255, 255, 255, 0.7);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.splash-screen {
  background-color: var(--ldg-color);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-screen img {
  height: 20%;
  width: auto;
}
