.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.825);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 0.75px solid rgba(255, 255, 255, 0.5);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: inherit;
  position: relative;
}

.nav__chats__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__more__notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
}
